@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
  --text-gray-700: rgb(55, 65, 81);
  --text-gray-800: rgb(31, 41, 55);
  --text-gray-900: rgb(17, 24, 39);
  --text-gray-950: rgb(3, 7, 18);
  --bg-slate-50: rgb(248, 250, 252);
  --bg-slate-100: rgb(241, 245, 249);
  --text-primary-1: var(--text-gray-800);
  --bg-primary-1: var(--bg-slate-50);
  --border-gray-200: hsl(0, 0, 20%);
}

html {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(180, 101, 101, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-1);
  /* background-color: var(--bg-primary-1); */
  /* font-family: 'Inter', sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.main {
  display: flex;
  justify-content: center;
}

.containerDiv {
  border: 3px solid black;
  height: 97vh;
  width: 100vh;
  text-align: center;
  border-radius: 2%;
  background-color: white;
}

.create-event-form {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 0.375rem;
  background-color: white;
  box-shadow: 2px 2px 6px 6px rgba(211, 211, 211, 0.2);
  flex-basis: 420px;
  margin: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  color: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
}

.btn-primary {
  font-size: 1rem;
  border: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 95%);
  box-shadow: 1px 1px 5px 1px hsl(0, 0%, 90%);
  border-radius: 0.375rem;
  font-weight: 500;
  color: var(--text-gray-700);
  display: block;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background-color ease 150ms;
}

.btn-primary:hover {
  background-color: hsl(0, 0%, 85%);
}

.btn-primary:active {
  background-color: hsl(0, 0%, 75%);
}

input {
  /* Olivia's version */
  font-family: inherit;
  padding: 0.5rem;
  margin-bottom: 0.875rem;
  color: var(--text-gray-700);
  border: 1px solid rgba(211, 211, 211, 0.466);
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

input {
  /* Ivan's version */
  border: 2px solid black;
  width: 50%;
  height: 6%;
  font-size: 25px;
  background-color: transparent;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

input::placeholder {
  color: black;
  border-radius: 1%;
  /* background-color: #ed6ea0; */
}

label {
  font-size: 0.875rem;
  padding-left: 0.375rem;
  color: black;
  margin-bottom: 0.1rem;
}

.input-lg {
  font-size: 1rem;
  margin-top: 0.375rem;
  margin-bottom: 1rem;
  padding: 0.875rem;
  padding-left: 0.5rem;
  font-weight: 500;
}

.chooses {
  margin: 5%;
  text-align: center;
}

.h1W {
  margin: 2%;
}

h1 {
  margin: 3%;
}

.attendee {
 margin: 5px;
  width: 45%;
  height: 10%;
  border: 2px solid black;
  color: black;
  text-align: justify;
}


.resp {
    float: right;
    font-weight: 2px;
}




.btn-hover {
  width: 100px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 50px;
  text-align: center;
  border: 2px solid black;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

h3 {
  padding-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-gray-700);
  margin-top: 0;
  margin-bottom: 1rem;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

.date-time-inner {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .date-time {
    flex-direction: column;
    justify-content: flex-start;
  }
}

